#res {
    height: fit-content;
    grid-area: resultados;
}

#imagenBandera {
    width: 100px;
    height: 100px;
    border-radius: 10px;

    margin-left: 30px;
}

#titulos {
    list-style: none;
    color: rgb(10, 134, 212);
    font-size: 30px;
}

#subtipo {
    list-style: none;
    grid-area: datos;
    color: rgb(77, 164, 188);
    font-size: 25px;
}

#campoIP {
    color: #88c4d9;
    font-size: 40px;
}

#imagenVpn {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

#campoSeguridadMal {
    align-items: center;
    color: red;
}
#campoSeguridadBien{
    align-items: center;
    color: rgb(37, 212, 148);
}

#resultados {
    line-height: 50px;
    grid-area: datos;
     font-family: "Apache"; 
}

@font-face{
    font-family: "Apache";
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapache.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapache3d.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapache3dital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachebold.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapacheboldital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachecond.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachecondital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapacheexpand.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapacheexpandital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachegrad.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachegradital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachehalf.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachehalfital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapacheital2.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachelaser.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachelaserital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapacheleft.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapacheout.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapacheoutital.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachesemital2.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachesuperital2.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachetitle.ttf");
    src: url("/font-Family/tempest-apache-cdnfonts/tempestapachetitleital.ttf");
} 