#res {
    height: fit-content;
    grid-area: resultados;
}

#imagenBandera {
    width: 100px;
    height: 100px;
    border-radius: 10px;

    margin-left: 30px;
}

#titulos {
    list-style: none;
    color: rgb(10, 134, 212);
    font-size: 30px;
}

#subtipo {
    list-style: none;
    grid-area: datos;
    color: rgb(77, 164, 188);
    font-size: 25px;
}

#campoIP {
    color: #88c4d9;
    font-size: 40px;
}

#imagenVpn {
    margin-top: 10px;
    margin-right: 10px;
}

#campoSeguridadMal {
    align-items: center;
    color: red;
}
#campoSeguridadBien{
    align-items: center;
    color: rgb(37, 212, 148);
}

#resultados {
    line-height: 50px;
    grid-area: datos;
     font-family: "Zealot"; 
}

@font-face{
    font-family: "Zealot";
    src: url("/font-Family/zealot-cdnfonts/zealot.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealotcol.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealotcoli.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealote.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealotei.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealoti.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealotl.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealotleft.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealotli.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealoto.ttf");
    src: url("/font-Family/zealot-cdnfonts/zealotoi.ttf");
} 