@media screen and (max-width: 600px) {
    .contenedor {
        width: 80%;
        margin-left: 10%;
    }

    #form h2 {
        font-size: 50px;
        margin-left: 10%;
    }
    #inputIp{
        font-size: 18px;
    }
    #btnEnviar {
        
        font-size: 30px;
        margin-left: 5%;
    }
    #btnPropiaIp {
        font-size: 30px;
        margin-left: 5%;
    }
    #ejemplo{
        margin-left: 10px;
        font-size: 25px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .contenedor {
        
        width: 70%;
        margin-left: 15%;
    }

    #form h2 {
        font-size: 60px;
        margin-left: 20%;
    }
    #inputIp{
        font-size: 25px;
    }
    #btnEnviar {
        font-size: 30px;
        margin-left: 5%;
    }
    #btnPropiaIp {
        font-size: 30px;
        margin-left: 5%;
    }
    #ejemplo{
        margin-left: 10px;
        font-size: 30px;
    }
}

@media screen and (min-width: 900px) {
    .contenedor {
        
        width: 60%;
        margin-left: 20%;
    }

    #form h2 {
        font-size: 80px;
        text-align: center;
    }
    #inputIp{
        font-size: 35px;
    }
    #btnEnviar {
        font-size: 40px;
        margin-left: 15%;
    }
    #btnPropiaIp {
        font-size: 40px;
        margin-right: 15%;
    }
    #ejemplo{
        margin-left: 10px;
        font-size: 30px;
    }
}

body {
    background-color: rgb(29, 24, 40);
    padding: 30px;
}

.contenedor {
    padding: 20PX;
    height: fit-content;
    background-color: rgb(20, 17, 26);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr;
    grid-template-areas:
        "formulario"
        "resultados";
    border: 3px solid rgb(77, 164, 188);
    border-radius: 20px;
    box-shadow: 5px 5px 0px rgb(47, 77, 85);

}

#form {
    display: grid;
    grid-area: formulario;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "label label"
        "enviar IPpropia";
}

#form label {
    grid-area: label;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 80px;
    grid-template-areas:
        "tituloIp"
        "input"
        "ejemplo";
}

#form h2 {
    grid-area: tituloIp;
    height: 80px;
    color: rgb(77, 164, 188);
    font-family: "Varino";
    filter: drop-shadow(6px 5px 0px rgb(47, 77, 85));
}

@font-face {
    font-family: "Varino";
    src: url("/font-Family/Varino\ -\ Normal.ttf");
}
/*Estilos del input para meter la IP*/
#inputIp {
    grid-area: input;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(20, 17, 26);
    border: 2px solid rgb(77, 164, 188);
    color: rgb(77, 164, 188);
    font-family: "Apache";
}

::placeholder {
    color: rgb(77, 164, 188);
    font-family: "Apache";

}

#ejemplo {
    margin-top: 30px;
    grid-area: ejemplo;
    
    color: rgb(77, 164, 188);
}

#btnEnviar {
    grid-area: enviar;
    border-radius: 10px;
    background-color: rgb(58, 143, 166);
    color: rgb(19, 19, 20);
    border: 2px solid rgb(8, 127, 160);
    margin-right: 10px;
    transition: 0.3s;
    font-family: "Cyborg";
}

#btnPropiaIp {
    grid-area: IPpropia;
    border-radius: 10px;
    background-color: rgb(58, 143, 166);
    color: rgb(28, 29, 30);
    border: 2px solid rgb(8, 127, 160);
    transition: 0.3s;
    font-family: "Cyborg";
}

#btnEnviar:hover,
#btnPropiaIp:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 0px rgb(47, 77, 85);
}

@font-face {
    font-family: "Cyborg";
    src: url("/font-Family/Cyborg/Cyborg.ttf");
}